
<!-- PDF表示機能を追加するまで、動画以外の画面として作成 -->

<!-- ライブラリー画面 -->
<ons-page modifier="con" id="con">

    <!-- ヘッダー領域 -->
    <header id="contentsHeader">
        <!-- ナビゲーションバー -->
        <ons-toolbar class="contentsNavigationBar">
            <div class="left">
                <ons-button modifier="backButton" ng-click="navi.popPage({animation:'slide'})"><b><</b><label>  Back</label></ons-button>
            </div>
            <div class="center"></div>
            <div class="right"></div>
        </ons-toolbar>
    </header>
    
    
    <!-- コンテンツ領域 -->
    <section id="contentsArea">
        
        <div class="blank">
            　
        </div>
        
        <!-- コンテンツ -->
        <div class="contents">
            コンテンツ配置予定です。
        </div>

    </section>
</ons-page>