<!-- ライブラリー画面 -->
<ons-page modifier="con" id="con" ng-controller="ContentsCtrl as con">

    <!-- ヘッダー領域 -->
    <header id="ContentsHeader">
        <!-- ナビゲーションバー -->
        <ons-toolbar class="ContentsNavigationBar">
            <div class="left">
                <ons-button modifier="BackButton" ng-click="navi.popPage({animation:'slide'})"><b><</b><label>  Back</label></ons-button>
            </div>
            <div class="center"></div>
            <div class="right"></div>
        </ons-toolbar>
    </header>
    
    
    <!-- コンテンツ領域 -->
    <section id="ContentsArea">
        
        <div class="blank">
            　
        </div>
        
        <!-- コンテンツ -->
        <div class="Contents">
            コンテンツ配置予定です。
        </div>

    </section>
</ons-page>