<!-- ライブラリー画面 -->
<ons-page modifier="lib" id="lib" ng-controller="LibraryCtrl as lib">

    <!-- ヘッダー領域 -->
    <header id="LibraryHeader">
        <!-- ナビゲーションバー -->
        <ons-toolbar class="LibraryNavigationBar">
            <div class="left">
                <ons-back-button>Back</ons-back-button>
            </div>
            <div class="center"></div>
            <div class="right"></div>
        </ons-toolbar>
    </header>
        
    <!-- ライブラリー概要領域 -->
    <section id="LibraryOverviewArea">
        
        <!-- タイトル画像 -->
        <ons-row class="LibraryTitlePicture">
            <img src="views/img/library/title_picture.png" alt="" />
        </ons-row>
        
        <!-- 概要 -->
        <ons-row class="LibraryOverview">
            <label>
                ここに概要を記載します。
            </label>
        </ons-row>
        
    </section>
        
        
    <!-- コンテンツリスト領域 -->
    <section id="LibraryContentsListArea">
        
        <!-- コンテンツリスト -->
        <div class="LibraryContentsList">
                <ons-row>
                    <ons-col class="LibraryContentsListItem">
                        <ons-button modifier="LibBtn">
                            <img src="views/img/library/contents_picture.png" alt="" />
                            ContentsA
                        </ons-button>  
                    </ons-col>
                    <ons-col class="LibraryContentsListItem">
                        <ons-button modifier="LibBtn">
                            <img src="views/img/library/contents_picture.png" alt="" />
                            ContentsB
                        </ons-button>  
                    </ons-col>
                </ons-row>
                <ons-row>
                    <ons-col class="LibraryContentsListItem">
                        <ons-button modifier="LibBtn">
                            <img src="views/img/library/contents_picture.png" alt="" />
                            ContentsC
                        </ons-button>  
                    </ons-col>
                    <ons-col class="LibraryContentsListItem">
                        <ons-button modifier="LibBtn">
                            <img src="views/img/library/contents_picture.png" alt="" />
                            ContentsD
                        </ons-button>  
                    </ons-col>
                </ons-row>
                <ons-row>
                    <ons-col class="LibraryContentsListItem">
                        <ons-button modifier="LibBtn">
                            <img src="views/img/library/contents_picture.png" alt="" />
                            ContentsE
                        </ons-button>
                    </ons-col>
                    <ons-col class="LibraryContentsListItem">
                        <ons-button modifier="LibBtn">
                            <img src="views/img/library/contents_picture.png" alt="" />
                            ContentsF
                        </ons-button>  
                    </ons-col>
                </ons-row>
                <ons-row>
                    <ons-col class="LibraryContentsListItem">
                        <ons-button modifier="LibBtn">
                            <img src="views/img/library/contents_picture.png" alt="" />
                            ContentsG
                        </ons-button>  
                    </ons-col>
                    <ons-col class="LibraryContentsListItem">
                        <ons-button modifier="LibBtn">
                            <img src="views/img/library/contents_picture.png" alt="" />
                            ContentsH
                        </ons-button>  
                    </ons-col>
                </ons-row>

        </div>
    </section>
</ons-page>