<!-- ライブラリー画面 -->
<ons-page modifier="lib" id="lib" ng-controller="LibraryCtrl as lib">

    <!-- ヘッダー領域 -->
    <header id="LibraryHeader">
        <!-- ナビゲーションバー -->
        <ons-toolbar class="LibraryNavigationBar">
            <div class="left">
                <ons-button modifier="BackButton" ng-click="navi.popPage({animation:'slide'})"><b><</b><label>  Back</label></ons-button>
            </div>
            <div class="center"></div>
            <div class="right"></div>
        </ons-toolbar>
    </header>
        
    <!-- ライブラリー概要領域 -->
    <section id="LibraryOverviewArea">
        
        <!-- タイトル画像 -->
        <ons-row class="LibraryTitlePicture">
            <img src="views/img/library/title_picture.png" alt="" />
        </ons-row>
        
        <!-- 概要 -->
        <ons-row class="LibraryOverview">
            <label>
                ここに概要を記載します。
            </label>
        </ons-row>
        
    </section>
        
        
    <!-- コンテンツリスト領域 -->
    <section id="LibraryContentsListArea" ng-controller="ContentsListCtrl as conlist">
        
        <!-- コンテンツリスト -->
        <div class="LibraryContentsList">
                <!-- 1行目 -->
                <ons-row>
                    <!-- リストアイテム -->
                    <ons-col class="LibraryContentsListItem" ng-click="conlist.libTransition('contentsA')">
                        <ons-button modifier="LibBtn">
                            <img src="views/img/library/contents_picture.png" alt="" />
                            ContentsA
                        </ons-button>  
                    </ons-col>
                    <!-- リストアイテム -->
                    <ons-col class="LibraryContentsListItem" ng-click="conlist.libTransition('contentsB')">
                        <ons-button modifier="LibBtn">
                            <img src="views/img/library/contents_picture.png" alt="" />
                            ContentsB
                        </ons-button>  
                    </ons-col>
                </ons-row>
                
                <!-- 2行目 -->
                <ons-row>
                    <!-- リストアイテム -->
                    <ons-col class="LibraryContentsListItem" ng-click="conlist.libTransition('contentsC')">
                        <ons-button modifier="LibBtn">
                            <img src="views/img/library/contents_picture.png" alt="" />
                            ContentsC
                        </ons-button>  
                    </ons-col>
                    <!-- リストアイテム -->
                    <ons-col class="LibraryContentsListItem" ng-click="conlist.libTransition('contentsD')">
                        <ons-button modifier="LibBtn">
                            <img src="views/img/library/contents_picture.png" alt="" />
                            ContentsD
                        </ons-button>  
                    </ons-col>
                </ons-row>
                
                <!-- 3行目 -->
                <ons-row>
                    <!-- リストアイテム -->
                    <ons-col class="LibraryContentsListItem" ng-click="conlist.libTransition('contentsE')">
                        <ons-button modifier="LibBtn">
                            <img src="views/img/library/contents_picture.png" alt="" />
                            ContentsE
                        </ons-button>
                    </ons-col>
                    <!-- リストアイテム -->
                    <ons-col class="LibraryContentsListItem" ng-click="conlist.libTransition('contentsF')">
                        <ons-button modifier="LibBtn">
                            <img src="views/img/library/contents_picture.png" alt="" />
                            ContentsF
                        </ons-button>  
                    </ons-col>
                </ons-row>
                
                <!-- 4行目 -->
                <ons-row>
                    <!-- リストアイテム -->
                    <ons-col class="LibraryContentsListItem" ng-click="conlist.libTransition('contentsG')">
                        <ons-button modifier="LibBtn">
                            <img src="views/img/library/contents_picture.png" alt="" />
                            ContentsG
                        </ons-button>  
                    </ons-col>
                    <!-- リストアイテム -->
                    <ons-col class="LibraryContentsListItem" ng-click="conlist.libTransition('contentsH')">
                        <ons-button modifier="LibBtn">
                            <img src="views/img/library/contents_picture.png" alt="" />
                            ContentsH
                        </ons-button>  
                    </ons-col>
                </ons-row>

        </div>
    </section>
</ons-page>