<!-- ライブラリー画面 -->
<ons-page modifier="lib" id="lib" ng-controller="LibraryCtrl as lib">

    <!-- ヘッダー領域 -->
    <header id="LibraryHeader">
        <!-- ナビゲーションバー -->
        <ons-toolbar class="LibraryNavigationBar">
            <div class="left">
                <ons-button modifier="BackButton" ng-click="navi.popPage({animation:'slide'})"><b><</b><label>  Back</label></ons-button>
            </div>
            <div class="center"></div>
            <div class="right"></div>
        </ons-toolbar>
    </header>
        
    <!-- ライブラリー概要領域 -->
    <section id="LibraryOverviewArea">
        
        <!-- タイトル画像 -->
        <ons-row class="LibraryTitlePicture">
            <img ng-src="{{lib.libraryPicture}}" alt="" ng-cloak />
        </ons-row>
        
        <!-- 概要 -->
        <ons-row class="LibraryOverview">
            <label ng-cloak>
                {{lib.libraryOverview}}<br>
                <!-- <ons-button ng-click="lib.checkConnection()">connection check</ons-button> -->
            </label>
        </ons-row>
        
    </section>
        
        
    <!-- コンテンツリスト領域 -->
    <section id="LibraryContentsListArea" ng-controller="ContentsListCtrl as conlist">
        <div class="LibraryContentsList">
            <label>{{lib.contentsDataNone}}</label>
            <section ng-repeat="con in contentsList" repeat-finished-directive>
                <ons-row ng-if="$even">
                    <!-- リストアイテム -->
                    <ons-col class="LibraryContentsListItem" ng-click="conlist.libTransition(con.type,con.url)">
                        <ons-button modifier="LibBtn">
                            <img ng-src="{{con.img}}" alt="" />
                            {{con.name}}
                        </ons-button>  
                    </ons-col>
                    <ons-col class="LibraryContentsListItem" ng-click="conlist.libTransition(contentsList[$index+1].type,contentsList[$index+1].url)" ng-if="$last!=true">
                        <ons-button modifier="LibBtn">
                            <img ng-src="{{contentsList[$index+1].img}}" alt="" />
                            {{contentsList[$index+1].name}}
                        </ons-button>  
                    </ons-col>
                    
                    <ons-col class="LibraryContentsListItem" ng-if="$last==true">
                    
                    </ons-col>
    
                </ons-row>
            </section>
        </div>
    </section>
    
    <ons-modal id="myModal" var="modal">
        <ons-progress-circular indeterminate></ons-progress-circular><br>
    </ons-modal>
    
    
</ons-page>