
<!-- メニュー画面 -->  
<ons-page modifier="menu" id="menu">

        
    <!-- ヘッダー領域 -->
    <header id="MenuHeader">
        <label class="MenuAppTitle">タイトル</label>
    </header>
    
    
    <!-- コンテンツ領域 -->
    <section id="MenuContentsArea">
        
    </section>
    
    
    <!-- ライブラリー選択ボタン領域 -->
    <section id="MenuLibraryButtonArea" ng-controller="LibraryButtonCtrl as btn">
    
        <!-- エリア1 -->
        <section class="MenuLibraryButtonArea1">
            <!-- 見出し -->
            <div class="MenuLibraryButtonHeadline">
                見出し1
            </div>
            
            <!-- ボタン -->
            <ons-row class="MenuLibraryButton">
                <ons-col>
                    <ons-button modifier="MenuLibBtn" ng-click="btn.menuTransition('libraryA')"><img src="views/img/menu/buttonA.png" alt="" /><br>Library A</ons-button>
                </ons-col>
                <ons-col>
                    <ons-button modifier="MenuLibBtn" ng-click="btn.menuTransition('libraryB')"><img src="views/img/menu/buttonB.png" alt="" /><br>Library B</ons-button>
                </ons-col>
                <ons-col>
                    <ons-button modifier="MenuLibBtn" ng-click="btn.menuTransition('libraryC')"><img src="views/img/menu/buttonC.png" alt="" /><br>Library C</ons-button>
                </ons-col>
                <ons-col>
                    <ons-button modifier="MenuLibBtn" ng-click="btn.menuTransition('libraryD')"><img src="views/img/menu/buttonD.png" alt="" /><br>Library D</ons-button>
                </ons-col>
            </ons-row>       
        </section>
        
        <!-- エリア2 -->
        <section class="MenuLibraryButtonArea2">
            <!-- 見出し -->
            <div class="MenuLibraryButtonHeadline">
                見出し2
            </div>
            
            <!-- ボタン -->
            <ons-row class="MenuLibraryButton">
                <ons-col>
                    <ons-button modifier="MenuLibBtn" ng-click="btn.menuTransition('libraryE')"><img src="views/img/menu/buttonE.png" alt="" /><br>Library E</ons-button>
                </ons-col>
                <ons-col>
                    <ons-button modifier="MenuLibBtn" ng-click="btn.menuTransition('libraryF')"><img src="views/img/menu/buttonF.png" alt="" /><br>Library F</ons-button>
                </ons-col>
                <ons-col>
                    <ons-button modifier="MenuLibBtn" ng-click="btn.menuTransition('libraryG')"><img src="views/img/menu/buttonG.png" alt="" /><br>Library G</ons-button>
                </ons-col>
                <ons-col>
                    <ons-button modifier="MenuLibBtn" ng-click="btn.menuTransition('libraryH')"><img src="views/img/menu/buttonH.png" alt="" /><br>Library H</ons-button>
                </ons-col>
            </ons-row>
            
        </section>
    </section>
    
</ons-page>