/**/

/* 画面全体 */
#page{
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
}

/* ヘッダー領域 */

/* 全体 */
header{
    width: 100%;
    height: 15%;
    text-align: center;
    line-height: 550%;
    background-color: white;
    
    margin-bottom: 5%;
}
/* タイトル */
header label.title{
        font-size: 30px;
}

/* コンテンツ領域1 */

/* 全体 */
section#contents_area_1{
    width: 100%;
    height: 40%;
    background-color: white;
    
    margin-bottom: 5%;
}



/* コンテンツ領域2 */

/* 全体 */
section#contents_area_2{
    width: 100%;
    height: 40%;
    background-color: white;
}

/* 見出し部分 */
#contents_area_2 div.title{
    width: 99%;
    height: 5%;
    text-align: center;
    line-height: 150%;
    
    border: solid 1px;
    
    background-color: white;
}

/* ボタンを表示する行 */
#contents_area_2 ons-row{
    text-align: center;
}

/* ボタン内の画像 */
#contents_area_2 ons-button > img{
    vertical-align: bottom;
    margin-bottom: 0;
}

/* ons-buttonのデザイン変更 */ 
.button--lib{
    background: none;
    color: black;
    height: 100%;
}
.button--lib:active {
  background-color: white;
}
