/**/

/* 画面全体 */
#page{
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
}

/* ヘッダー領域 */

/* 全体 */
header{
    width: 100%;
    height: 80px;
    text-align: center;
    line-height: 80px;
    background-color: white;
    
    margin-bottom: 20px;
}
/* タイトル */
header label.title{
        font-size: 30px;
}

/* コンテンツ領域1 */

/* 全体 */
section#contents_area_1{
    width: 100%;
    height: 250px;
    background-color: white;
    
    margin-bottom: 20px;
}

/* ここから

/* 更新履歴タイトル */
#contents_area_1 div.title{
    width: 100%;
    height: 35px;
    
    text-align: center;
    line-height: 40px;
    margin-bottom: 5px;
    
    background-color: white;
}

/* リストのスクロール */
#contents_area_1 div.list{
  overflow-y: scroll;
  width: 100%;
  height: 200px;
  background-color: #f8f8f8;
}

/* リストの項目 */
#contents_area_1 ons-list-item{
    padding-top: 3px;
    padding-bottom: 3px;
    
}

/* 日付・更新内容の列 */
#contents_area_1 ons-row ons-col:nth-of-type(2){
    margin-left: 20px;
}

/* 日付 */
#contents_area_1 label.date{
    font-size: 12px;
    line-height: 12px;
    margin-top: 0;
    margin-bottom: 0;
}
/* 更新内容 */
#contents_area_1 p.content{
    font-size: 20px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

/* ここまで

/* ライブラリーボタン領域 */

/* 全体 */
section#contents_area_2{
    width: 100%;
    height: 250px;
    background-color: white;
    
    margin-bottom: 10px;
}

/* 見出し部分 */
#contents_area_2 div.title{
    width: 99%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    
    border: solid 1px;
    
    background-color: white;
}

/* ボタンを表示する行 */
#contents_area_2 ons-row{
    text-align: center;
    line-height: 90px;
}

/* ボタン内の画像 */
#contents_area_2 ons-button > img{
    vertical-align: bottom;
    margin-bottom: 0;
}

/* ons-buttonのデザイン変更 */ 
.button--lib{
    background: none;
    color: black;
    height: 90px;
}
.button--lib:active {
  background-color: white;
}
